POSTGRES_USER=lakehouse
POSTGRES_PASSWORD=lakehouse
SOURCE_DB=source_db
HMS_DB=hms_db
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MINIO_ENDPOINT=http://minio:9000
OPENMETADATA_URL=http://openmetadata:8585/api
# When running experiments from the host machine use http://localhost:8585/api
OPENMETADATA_ADMIN_EMAIL=admin@open-metadata.org
OPENMETADATA_ADMIN_PASSWORD=admin
TRINO_HOST=localhost
TRINO_PORT=8088
